@import url('https://fonts.googleapis.com/css?family=ubuntu:400,500,600,700,800,900&display=swap');

*
{
    margin: 0;
    padding: 0;
}

div.tulis{
    font-family: 'ubuntu', sans-serif;
    justify-content: center;
    align-items: center;
    display: flex;
    min-height: 100vh;
    background: black;
}

div.tulis h1{
    margin: 0;
    font-size: 4em;
    font-weight: 900;
    color: white;
    position: relative;
    overflow: hidden;
}
div.tulis h1 span{
    color: #ff8300;
}

h1::before{
    position: absolute;
    width: 120%;
    height: 100%;
    left: 110%;
    content: '';
    background: linear-gradient(90deg, transparent 0%, #000 5%, #000 100%);
    animation: animate 5.6s linear forwards;
    animation-delay: 0.7s;
}

@keyframes animate{
    0%{
        left: 110%;
    }
    100%{
        left: -20%;
    }
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    position: absolute;
    mix-blend-mode: screen;
    
}

div.tombol{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    overflow: hidden;
    transform: scale(1.5);
}

.btn{
    padding: 15px 40px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}

.btn::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.btn::before{
    content: "";
    background: linear-gradient(
        #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #ff00c8, #ff0000,
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100%' + '4px);
    height: calc(100%' + '4px);
    filter: blur(8px);
     animation: glowing 20s linear infinite; 
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing{
    0%{background-position: -0-0;}
    50%{background-position: -400%-0;}
    100%{background-position: -0-0;}
}